riscv-openocd-0.10.0-2020.12.1-x86_64-linux-ubuntu14.tar.gz
riscv64-unknown-elf-toolchain-10.2.0-2020.12.8-x86_64-linux-ubuntu14.tar.gz
sdk-utilities-1.0.1-2020.12.1-x86_64-linux-ubuntu14.tar.gz
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
labcode/lab2/.vscode/c_cpp_properties.json
labcode/lab2/.vscode/launch.json
labcode/lab2/.vscode/settings.json
labcode/lab2/bin/kernel
labcode/lab2/bin/ucore.img
labcode/lab2/obj/kernel.asm
labcode/lab2/obj/kernel.sym
labcode/lab2/obj/kern/debug/panic.d
labcode/lab2/obj/kern/debug/panic.o
labcode/lab2/obj/kern/driver/console.d
labcode/lab2/obj/kern/driver/console.o
labcode/lab2/obj/kern/driver/dtb.d
labcode/lab2/obj/kern/driver/dtb.o
labcode/lab2/obj/kern/init/entry.d
labcode/lab2/obj/kern/init/entry.o
labcode/lab2/obj/kern/init/init.d
labcode/lab2/obj/kern/init/init.o
labcode/lab2/obj/kern/libs/stdio.d
labcode/lab2/obj/kern/libs/stdio.o
labcode/lab2/obj/kern/mm/best_fit_pmm.d
labcode/lab2/obj/kern/mm/best_fit_pmm.o
labcode/lab2/obj/kern/mm/buddy_system_pmm.d
labcode/lab2/obj/kern/mm/buddy_system_pmm.o
labcode/lab2/obj/kern/mm/default_pmm.d
labcode/lab2/obj/kern/mm/default_pmm.o
labcode/lab2/obj/kern/mm/pmm.d
labcode/lab2/obj/kern/mm/pmm.o
labcode/lab2/obj/libs/printfmt.d
labcode/lab2/obj/libs/printfmt.o
labcode/lab2/obj/libs/readline.d
labcode/lab2/obj/libs/readline.o
labcode/lab2/obj/libs/sbi.d
labcode/lab2/obj/libs/sbi.o
labcode/lab2/obj/libs/string.d
labcode/lab2/obj/libs/string.o
