riscv-openocd-0.10.0-2020.12.1-x86_64-linux-ubuntu14.tar.gz
riscv64-unknown-elf-toolchain-10.2.0-2020.12.8-x86_64-linux-ubuntu14.tar.gz
sdk-utilities-1.0.1-2020.12.1-x86_64-linux-ubuntu14.tar.gz
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
labcode/lab2/.vscode/c_cpp_properties.json
labcode/lab2/.vscode/launch.json
labcode/lab2/.vscode/settings.json
labcode/lab2/bin/kernel
labcode/lab2/bin/ucore.img
labcode/lab2/obj/kernel.asm
labcode/lab2/obj/kernel.sym
labcode/lab2/obj/kern/debug/panic.d
labcode/lab2/obj/kern/debug/panic.o
labcode/lab2/obj/kern/driver/console.d
labcode/lab2/obj/kern/driver/console.o
labcode/lab2/obj/kern/driver/dtb.d
labcode/lab2/obj/kern/driver/dtb.o
labcode/lab2/obj/kern/init/entry.d
labcode/lab2/obj/kern/init/entry.o
labcode/lab2/obj/kern/init/init.d
labcode/lab2/obj/kern/init/init.o
labcode/lab2/obj/kern/libs/stdio.d
labcode/lab2/obj/kern/libs/stdio.o
labcode/lab2/obj/kern/mm/best_fit_pmm.d
labcode/lab2/obj/kern/mm/best_fit_pmm.o
labcode/lab2/obj/kern/mm/buddy_system_pmm.d
labcode/lab2/obj/kern/mm/buddy_system_pmm.o
labcode/lab2/obj/kern/mm/default_pmm.d
labcode/lab2/obj/kern/mm/default_pmm.o
labcode/lab2/obj/kern/mm/pmm.d
labcode/lab2/obj/kern/mm/pmm.o
labcode/lab2/obj/libs/printfmt.d
labcode/lab2/obj/libs/printfmt.o
labcode/lab2/obj/libs/readline.d
labcode/lab2/obj/libs/readline.o
labcode/lab2/obj/libs/sbi.d
labcode/lab2/obj/libs/sbi.o
labcode/lab2/obj/libs/string.d
labcode/lab2/obj/libs/string.o


labcode/lab8/obj/__user_badarg.out
labcode/lab8/obj/__user_badsegment.out
labcode/lab8/obj/__user_divzero.out
labcode/lab8/obj/__user_exit.out
labcode/lab8/obj/__user_faultread.out
labcode/lab8/obj/__user_faultreadkernel.out
labcode/lab8/obj/__user_forktest.out
labcode/lab8/obj/__user_forktree.out
labcode/lab8/obj/__user_hello.out
labcode/lab8/obj/__user_matrix.out
labcode/lab8/obj/__user_pgdir.out
labcode/lab8/obj/__user_priority.out
labcode/lab8/obj/__user_sh.out
labcode/lab8/obj/__user_sleep.out
labcode/lab8/obj/__user_sleepkill.out
labcode/lab8/obj/__user_softint.out
labcode/lab8/obj/__user_spin.out
labcode/lab8/obj/__user_testbss.out
labcode/lab8/obj/__user_waitkill.out
labcode/lab8/obj/__user_yield.out
labcode/lab8/obj/kernel.asm
labcode/lab8/obj/kernel.sym
labcode/lab8/obj/kern/debug/kdebug.d
labcode/lab8/obj/kern/debug/kdebug.o
labcode/lab8/obj/kern/debug/kmonitor.d
labcode/lab8/obj/kern/debug/kmonitor.o
labcode/lab8/obj/kern/debug/panic.d
labcode/lab8/obj/kern/debug/panic.o
labcode/lab8/obj/kern/driver/clock.d
labcode/lab8/obj/kern/driver/clock.o
labcode/lab8/obj/kern/driver/console.d
labcode/lab8/obj/kern/driver/console.o
labcode/lab8/obj/kern/driver/dtb.d
labcode/lab8/obj/kern/driver/dtb.o
labcode/lab8/obj/kern/driver/ide.d
labcode/lab8/obj/kern/driver/ide.o
labcode/lab8/obj/kern/driver/intr.d
labcode/lab8/obj/kern/driver/intr.o
labcode/lab8/obj/kern/driver/picirq.d
labcode/lab8/obj/kern/driver/picirq.o
labcode/lab8/obj/kern/driver/ramdisk.d
labcode/lab8/obj/kern/driver/ramdisk.o
labcode/lab8/obj/kern/fs/file.d
labcode/lab8/obj/kern/fs/file.o
labcode/lab8/obj/kern/fs/fs.d
labcode/lab8/obj/kern/fs/fs.o
labcode/lab8/obj/kern/fs/iobuf.d
labcode/lab8/obj/kern/fs/iobuf.o
labcode/lab8/obj/kern/fs/sysfile.d
labcode/lab8/obj/kern/fs/sysfile.o
labcode/lab8/obj/kern/fs/devs/dev_disk0.d
labcode/lab8/obj/kern/fs/devs/dev_disk0.o
labcode/lab8/obj/kern/fs/devs/dev_stdin.d
labcode/lab8/obj/kern/fs/devs/dev_stdin.o
labcode/lab8/obj/kern/fs/devs/dev_stdout.d
labcode/lab8/obj/kern/fs/devs/dev_stdout.o
labcode/lab8/obj/kern/fs/devs/dev.d
labcode/lab8/obj/kern/fs/devs/dev.o
labcode/lab8/obj/kern/fs/sfs/bitmap.d
labcode/lab8/obj/kern/fs/sfs/bitmap.o
labcode/lab8/obj/kern/fs/sfs/sfs_fs.d
labcode/lab8/obj/kern/fs/sfs/sfs_fs.o
labcode/lab8/obj/kern/fs/sfs/sfs_inode.d
labcode/lab8/obj/kern/fs/sfs/sfs_inode.o
labcode/lab8/obj/kern/fs/sfs/sfs_io.d
labcode/lab8/obj/kern/fs/sfs/sfs_io.o
labcode/lab8/obj/kern/fs/sfs/sfs_lock.d
labcode/lab8/obj/kern/fs/sfs/sfs_lock.o
labcode/lab8/obj/kern/fs/sfs/sfs.d
labcode/lab8/obj/kern/fs/sfs/sfs.o
labcode/lab8/obj/kern/fs/swap/swapfs.d
labcode/lab8/obj/kern/fs/swap/swapfs.o
labcode/lab8/obj/kern/fs/vfs/inode.d
labcode/lab8/obj/kern/fs/vfs/inode.o
labcode/lab8/obj/kern/fs/vfs/vfs.d
labcode/lab8/obj/kern/fs/vfs/vfs.o
labcode/lab8/obj/kern/fs/vfs/vfsdev.d
labcode/lab8/obj/kern/fs/vfs/vfsdev.o
labcode/lab8/obj/kern/fs/vfs/vfsfile.d
labcode/lab8/obj/kern/fs/vfs/vfsfile.o
labcode/lab8/obj/kern/fs/vfs/vfslookup.d
labcode/lab8/obj/kern/fs/vfs/vfslookup.o
labcode/lab8/obj/kern/fs/vfs/vfspath.d
labcode/lab8/obj/kern/fs/vfs/vfspath.o
labcode/lab8/obj/kern/init/entry.d
labcode/lab8/obj/kern/init/entry.o
labcode/lab8/obj/kern/init/init.d
labcode/lab8/obj/kern/init/init.o
labcode/lab8/obj/kern/libs/readline.d
labcode/lab8/obj/kern/libs/readline.o
labcode/lab8/obj/kern/libs/stdio.d
labcode/lab8/obj/kern/libs/stdio.o
labcode/lab8/obj/kern/libs/string.d
labcode/lab8/obj/kern/libs/string.o
labcode/lab8/obj/kern/mm/default_pmm.d
labcode/lab8/obj/kern/mm/default_pmm.o
labcode/lab8/obj/kern/mm/kmalloc.d
labcode/lab8/obj/kern/mm/kmalloc.o
labcode/lab8/obj/kern/mm/pmm.d
labcode/lab8/obj/kern/mm/pmm.o
labcode/lab8/obj/kern/mm/vmm.d
labcode/lab8/obj/kern/mm/vmm.o
labcode/lab8/obj/kern/process/entry.d
labcode/lab8/obj/kern/process/entry.o
labcode/lab8/obj/kern/process/proc.d
labcode/lab8/obj/kern/process/proc.o
labcode/lab8/obj/kern/process/switch.d
labcode/lab8/obj/kern/process/switch.o
labcode/lab8/obj/kern/schedule/default_sched_stride.d
labcode/lab8/obj/kern/schedule/default_sched_stride.o
labcode/lab8/obj/kern/schedule/default_sched.d
labcode/lab8/obj/kern/schedule/default_sched.o
labcode/lab8/obj/kern/schedule/sched.d
labcode/lab8/obj/kern/schedule/sched.o
labcode/lab8/obj/kern/sync/check_sync.d
labcode/lab8/obj/kern/sync/check_sync.o
labcode/lab8/obj/kern/sync/monitor.d
labcode/lab8/obj/kern/sync/monitor.o
labcode/lab8/obj/kern/sync/sem.d
labcode/lab8/obj/kern/sync/sem.o
labcode/lab8/obj/kern/sync/wait.d
labcode/lab8/obj/kern/sync/wait.o
labcode/lab8/obj/kern/syscall/syscall.d
labcode/lab8/obj/kern/syscall/syscall.o
labcode/lab8/obj/kern/trap/trap.d
labcode/lab8/obj/kern/trap/trap.o
labcode/lab8/obj/kern/trap/trapentry.d
labcode/lab8/obj/kern/trap/trapentry.o
labcode/lab8/obj/libs/hash.d
labcode/lab8/obj/libs/hash.o
labcode/lab8/obj/libs/printfmt.d
labcode/lab8/obj/libs/printfmt.o
labcode/lab8/obj/libs/rand.d
labcode/lab8/obj/libs/rand.o
labcode/lab8/obj/libs/string.d
labcode/lab8/obj/libs/string.o
labcode/lab8/obj/mksfs/tools/mksfs.d
labcode/lab8/obj/mksfs/tools/mksfs.o
labcode/lab8/obj/user/badarg.asm
labcode/lab8/obj/user/badarg.d
labcode/lab8/obj/user/badarg.o
labcode/lab8/obj/user/badarg.sym
labcode/lab8/obj/user/badsegment.asm
labcode/lab8/obj/user/badsegment.d
labcode/lab8/obj/user/badsegment.o
labcode/lab8/obj/user/badsegment.sym
labcode/lab8/obj/user/divzero.asm
labcode/lab8/obj/user/divzero.d
labcode/lab8/obj/user/divzero.o
labcode/lab8/obj/user/divzero.sym
labcode/lab8/obj/user/exit.asm
labcode/lab8/obj/user/exit.d
labcode/lab8/obj/user/exit.o
labcode/lab8/obj/user/exit.sym
labcode/lab8/obj/user/faultread.asm
labcode/lab8/obj/user/faultread.d
labcode/lab8/obj/user/faultread.o
labcode/lab8/obj/user/faultread.sym
labcode/lab8/obj/user/faultreadkernel.asm
labcode/lab8/obj/user/faultreadkernel.d
labcode/lab8/obj/user/faultreadkernel.o
labcode/lab8/obj/user/faultreadkernel.sym
labcode/lab8/obj/user/forktest.asm
labcode/lab8/obj/user/forktest.d
labcode/lab8/obj/user/forktest.o
labcode/lab8/obj/user/forktest.sym
labcode/lab8/obj/user/forktree.asm
labcode/lab8/obj/user/forktree.d
labcode/lab8/obj/user/forktree.o
labcode/lab8/obj/user/forktree.sym
labcode/lab8/obj/user/hello.asm
labcode/lab8/obj/user/hello.d
labcode/lab8/obj/user/hello.o
labcode/lab8/obj/user/hello.sym
labcode/lab8/obj/user/matrix.asm
labcode/lab8/obj/user/matrix.d
labcode/lab8/obj/user/matrix.o
labcode/lab8/obj/user/matrix.sym
labcode/lab8/obj/user/pgdir.asm
labcode/lab8/obj/user/pgdir.d
labcode/lab8/obj/user/pgdir.o
labcode/lab8/obj/user/pgdir.sym
labcode/lab8/obj/user/priority.asm
labcode/lab8/obj/user/priority.d
labcode/lab8/obj/user/priority.o
labcode/lab8/obj/user/priority.sym
labcode/lab8/obj/user/sh.asm
labcode/lab8/obj/user/sh.d
labcode/lab8/obj/user/sh.o
labcode/lab8/obj/user/sh.sym
labcode/lab8/obj/user/sleep.asm
labcode/lab8/obj/user/sleep.d
labcode/lab8/obj/user/sleep.o
labcode/lab8/obj/user/sleep.sym
labcode/lab8/obj/user/sleepkill.asm
labcode/lab8/obj/user/sleepkill.d
labcode/lab8/obj/user/sleepkill.o
labcode/lab8/obj/user/sleepkill.sym
labcode/lab8/obj/user/softint.asm
labcode/lab8/obj/user/softint.d
labcode/lab8/obj/user/softint.o
labcode/lab8/obj/user/softint.sym
labcode/lab8/obj/user/spin.asm
labcode/lab8/obj/user/spin.d
labcode/lab8/obj/user/spin.o
labcode/lab8/obj/user/spin.sym
labcode/lab8/obj/user/testbss.asm
labcode/lab8/obj/user/testbss.d
labcode/lab8/obj/user/testbss.o
labcode/lab8/obj/user/testbss.sym
labcode/lab8/obj/user/waitkill.asm
labcode/lab8/obj/user/waitkill.d
labcode/lab8/obj/user/waitkill.o
labcode/lab8/obj/user/waitkill.sym
labcode/lab8/obj/user/yield.asm
labcode/lab8/obj/user/yield.d
labcode/lab8/obj/user/yield.o
labcode/lab8/obj/user/yield.sym
labcode/lab8/obj/user/libs/dir.d
labcode/lab8/obj/user/libs/dir.o
labcode/lab8/obj/user/libs/file.d
labcode/lab8/obj/user/libs/file.o
labcode/lab8/obj/user/libs/initcode.d
labcode/lab8/obj/user/libs/initcode.o
labcode/lab8/obj/user/libs/panic.d
labcode/lab8/obj/user/libs/panic.o
labcode/lab8/obj/user/libs/stdio.d
labcode/lab8/obj/user/libs/stdio.o
labcode/lab8/obj/user/libs/syscall.d
labcode/lab8/obj/user/libs/syscall.o
labcode/lab8/obj/user/libs/ulib.d
labcode/lab8/obj/user/libs/ulib.o
labcode/lab8/obj/user/libs/umain.d
labcode/lab8/obj/user/libs/umain.o
labcode/lab8/disk0/badarg
labcode/lab8/disk0/badsegment
labcode/lab8/disk0/divzero
labcode/lab8/disk0/exit
labcode/lab8/disk0/faultread
labcode/lab8/disk0/faultreadkernel
labcode/lab8/disk0/forktest
labcode/lab8/disk0/forktree
labcode/lab8/disk0/hello
labcode/lab8/disk0/matrix
labcode/lab8/disk0/pgdir
labcode/lab8/disk0/priority
labcode/lab8/disk0/sh
labcode/lab8/disk0/sleep
labcode/lab8/disk0/sleepkill
labcode/lab8/disk0/softint
labcode/lab8/disk0/spin
labcode/lab8/disk0/testbss
labcode/lab8/disk0/waitkill
labcode/lab8/disk0/yield
labcode/lab8/bin/kernel
labcode/lab8/bin/mksfs
labcode/lab8/bin/sfs.img
labcode/lab8/bin/swap.img
labcode/lab8/bin/ucore.img
